.header{
	z-index: 33;
	width:100%;
	position: fixed;
	top:0;
	left: 0;
	background-color:rgba(255,255,255,0.4);
}
.head-nav{
	width:100%;
	max-height:70px;
	overflow:hidden;
	background: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.header-logo{
	margin-left: -60px;
	margin-right: 10px;
}
.header-logo a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
img{
	width:100%;
}
.marginOut ul{
	width:100%;
}
.navbar-nav > li {
    float: left;
    width:11%;
    margin: 1.5% 0;
}
.header .marginOut ul li>a{
	width:133px;
    padding: 0px 0px;
    font-size: 18px;
    font-weight:500;
    color:#fff;
    border-radius: 30px;
    font-family: "STHeiti Light",Arial, sans-serif;
}
.header .marginOut ul li>a:hover{
	color:#debd89;
	background-color:#fff;
}
.header .marginOut ul li>.add{
	color:#debd89;
	background-color:#fff;
}
.marginOut li>a>p{
	font-size:12px;
	font-weight: 400px;
}
@media (max-width:992px) {
	.header-logo a {
    display: inline-block;
    width: 45%;
    height: 46%;
    float: right;
	}
}
.section1,.section2{
	overflow:hidden;
	background-color:#fff;
	padding: 0.5%;
}
.liu,.shi{
	z-index:33;
	background-color:#fff;
	display:none;
	position:fixed;
	top: 10%;
	left:10%;
	box-shadow: 1.5px 2.598px 7px 0px rgb( 0, 0, 0 );
}
.item{
	float: left;
    width: 20%;
    padding: 0.5%;
}
.item img{
	width: 100%;
}
.carousel-inner > .item {
    width: 100%;
}
section{
	padding: 80px 0 50px;
    position: relative;
    overflow: hidden;
}
.content{
	padding: 0 8%;
}
.box1,.box2,.box3,.box4,.box5,.box6{
	margin-left:13%;
}
.pic{
	overflow:hidden;
	transition:1s;
    margin-bottom: 16px;
}
.pic:hover img{
    transition:2s;
    animation:to linear 4s infinite;
}
@keyframes to{
    0%{
        width:100%;
        height:100%;
        opacity:0.7;
    }
    50%{
        width:50%;
        height:50%;
    }
    100%{
        width:100%;
        height:100%;
    }
}

.word{
	text-align: center;
    color: #000;
    font-size: 1rem;
    padding-bottom: 10px;
    font-weight: normal;
}
.word p{
	font-family: "NotoSansHans";
    color: #6d6d6d;
    line-height: 1.8;
    margin-bottom: 10px;
    margin-top: -1%;
    font-weight:400;
    margin: 0 0 10px;
}
.word p:nth-of-type(1){
	font-size: 2rem;
    font-weight: bold;
    color: #debd89;
    line-height: 0.72;
    margin-top: 0;
}
.word p:nth-of-type(2){
	font-size:12px;
}
.aline{
	display: inline-block;
    width: 4rem;
    border-top: 0.4rem solid #fff;
}
.footer{
	background-image:url('../img/foot-bg.jpg');
	background-position: top center;
	width:100%;
	height:900px;
	position: relative;
    z-index: 32;
    margin-top: 40px
}
.footer-desc {
    margin: 112px 0 0 60%;
    padding: 50px 0 46px 60px;
    color: #aaacab;
}
.footer-desc h1{
	color: #fff;
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 64px;
}
.p1{
	color: #aaacab;
    font-size: 34px;
    margin-bottom: 10px;
    font-weight: 400;
    margin: 0 0 10px;
}
.p2{
	margin-bottom: 24px;
    margin: 0 0 10px;
}
.foot1{
	margin-right:5%;
	padding: 7px 7px 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 112px 137px;
    display: inline-block;
}
.foot1 img{
	display: block;
    margin: 0 auto;
    width:100%;
}
.foot1 p{
	margin-top: 10px;
    color: #c0c0c0;
    text-align: center;
    font-size: 18px;
    ont-weight: 400;
    margin: 0 0 10px;
    padding-top: 13px;
}
.foot-bt{
	margin-top: 55px;
	font-size: 16px;
    color: #fff;
    font-family: "Microsoft YaHei UI";
    margin: 14px 0 28px 0;
    line-height: 30px;
    font-weight: normal;
    opacity: 0.8;
}
.foot-bt p{
	font-weight:400;
}
.foot-bt p i{
	color: #e6c985;
    font-style: normal;
}
.foot-call{
	width: 100%;
    height: 43px;
    background: url('../img/tel-i.png') no-repeat;
    background-size: contain;
    background-position: left;
    padding-left: 54px;
    margin-bottom: 17px;
    font-size: 13px;
    color: #fff;
}
.bottom{
	padding-top: 40px;
    padding-bottom: 10px;
}
.bottom p{
	text-align: center;
    color: #999;
    font-size: 14px;
    margin-bottom: 0;
    height: 20px;
    line-height: 20px;
    margin-top: 0;
    padding-bottom: 7px;
    font-weight:400;
    margin: 0 0 3px;
}
.bottom p a{
	color:#999;
	transition:1s;
}
.bottom p a:hover{
	text-decoration: none;
	color:#fff;
	font-weight:400;
}
